In [313]:
import pandas as pd

Get CSV of current season stats

In [ ]:
stats = pd.read_csv('cbb/cbb26.csv')
stats = stats.drop(columns=['POSTSEASON', 'CONF', 'Unnamed: 24'])
stats

,TEAM,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,...,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,SEED,TO_DIFF
0,Alabama St.,34,19,100.5,109.6,0.2698,47.1,50.3,13.2,18.6,...,29.9,38.7,45.4,50.4,32.9,33.4,67.6,-10.20,16,4.0
1,Saint Francis U,33,16,99.9,112.0,0.2114,51.6,51.3,19.6,16.4,...,23.8,28.7,52.6,53.4,33.4,32.3,67.2,-12.20,16,-1.7
2,Mount St. Mary's,34,22,99.4,107.5,0.2903,51.0,48.0,21.7,15.9,...,31.0,26.7,50.1,48.7,34.9,31.4,67.3,-8.20,16,-3.9
3,Xavier,32,21,116.3,97.8,0.8797,53.9,50.6,16.0,17.6,...,37.2,28.1,51.3,50.5,38.8,33.9,69.0,0.35,11,1.1
4,Texas,34,19,116.7,100.2,0.8524,52.5,48.4,14.3,16.6,...,36.6,39.3,51.8,47.5,36.0,33.3,67.3,0.04,11,1.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Wofford,34,19,111.4,109.8,0.5422,53.3,51.8,16.9,14.9,...,31.1,36.2,54.6,51.8,34.5,34.5,64.0,-9.70,15,-0.6
64,Robert Morris,34,26,106.0,105.1,0.5265,51.3,50.3,18.5,18.8,...,38.4,30.0,50.7,49.8,34.9,34.2,68.0,-4.30,15,0.1
65,Bryant,34,23,105.9,105.4,0.5122,51.0,47.7,16.5,16.4,...,30.4,30.0,51.5,47.3,33.4,32.2,72.4,-7.10,15,0.1
66,Norfolk St.,34,24,106.4,109.1,0.4276,52.4,49.7,18.3,18.6,...,39.0,34.9,54.5,48.9,31.3,33.9,66.4,-5.30,16,0.8
67,SIU Edwardsville,33,22,101.5,105.8,0.3822,48.9,47.5,17.1,17.3,...,33.1,33.2,47.8,46.3,34.0,33.0,65.9,-7.80,16,1.3

Get the Matchups you with to predict

In [ ]:
matchups = pd.read_csv('../mm/mm/mm26.csv')
matchups

,winner,SEED_higher,SEED_lower,TEAM_higher,G_higher,W_higher,ADJOE_higher,ADJDE_higher,BARTHAG_higher,EFG_O_higher,...,FTR_lower,FTRD_lower,2P_O_lower,2P_D_lower,3P_O_lower,3P_D_lower,ADJ_T_lower,WAB_lower,SEED_lower.1,Turnover_diff_lower
0,NaN,NaN,NaN,Auburn,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Louisville,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Michigan,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Texas A&M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Mississippi,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,NaN,NaN,NaN,Auburn,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,Duke,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,Auburn,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,Duke,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,Florida,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Inserts missing stats of the team matchups

In [ ]:
matchups = pd.read_csv('../mm/mm/mm26.csv')
for index, row in matchups.iterrows():
    # location of the team based on seed
    teamHigh = stats.loc[stats['TEAM'] == row['TEAM_higher']]

    if len(teamHigh) == 1:
        # add the data of the higher seed team
        matchups.at[index, 'SEED_higher']= teamHigh['SEED']
        matchups.at[index,'G_higher'] = teamHigh['G']
        matchups.at[index,'W_higher'] = teamHigh['W']
        matchups.at[index,'ADJOE_higher'] = teamHigh['ADJOE']
        matchups.at[index,'ADJDE_higher'] = teamHigh['ADJDE']
        matchups.at[index,'BARTHAG_higher'] = teamHigh['BARTHAG']
        matchups.at[index,'EFG_O_higher'] = teamHigh['EFG_O']
        matchups.at[index,'EFG_D_higher'] = teamHigh['EFG_D']
        matchups.at[index,'TOR_higher'] = teamHigh['TOR']
        matchups.at[index,'TORD_higher'] = teamHigh['TORD']
        matchups.at[index,'ORB_higher'] = teamHigh['ORB']
        matchups.at[index,'DRB_higher'] = teamHigh['DRB']
        matchups.at[index,'FTR_higher'] = teamHigh['FTR']
        matchups.at[index,'FTRD_higher'] = teamHigh['FTRD']
        matchups.at[index,'2P_O_higher'] = teamHigh['2P_O']
        matchups.at[index,'2P_D_higher'] = teamHigh['2P_D']
        matchups.at[index,'3P_O_higher'] = teamHigh['3P_O']
        matchups.at[index,'3P_D_higher'] = teamHigh['3P_D']
        matchups.at[index,'ADJ_T_higher'] = teamHigh['ADJ_T']
        matchups.at[index,'WAB_higher'] = teamHigh['WAB']
        matchups.at[index,'Turnover_diff_higher'] = teamHigh['TO_DIFF']
    else:
        print(teamHigh)

    # add the data of the lower seed team
    teamLow = stats.loc[stats['TEAM'] == row['TEAM_lower']]
    if len(teamLow) == 1:
        matchups.at[index, 'SEED_lower']= teamLow['SEED']
        matchups.at[index,'G_lower'] = teamLow['G']
        matchups.at[index,'W_lower'] = teamLow['W']
        matchups.at[index,'ADJOE_lower'] = teamLow['ADJOE']
        matchups.at[index,'ADJDE_lower'] = teamLow['ADJDE']
        matchups.at[index,'BARTHAG_lower'] = teamLow['BARTHAG']
        matchups.at[index,'EFG_O_lower'] = teamLow['EFG_O']
        matchups.at[index,'EFG_D_lower'] = teamLow['EFG_D']
        matchups.at[index,'TOR_lower'] = teamLow['TOR']
        matchups.at[index,'TORD_lower'] = teamLow['TORD']
        matchups.at[index,'ORB_lower'] = teamLow['ORB']
        matchups.at[index,'DRB_lower'] = teamLow['DRB']
        matchups.at[index,'FTR_lower'] = teamLow['FTR']
        matchups.at[index,'FTRD_lower'] = teamLow['FTRD']
        matchups.at[index,'2P_O_lower'] = teamLow['2P_O']
        matchups.at[index,'2P_D_lower'] = teamLow['2P_D']
        matchups.at[index,'3P_O_lower'] = teamLow['3P_O']
        matchups.at[index,'3P_D_lower'] = teamLow['3P_D']
        matchups.at[index,'ADJ_T_lower'] = teamLow['ADJ_T']
        matchups.at[index,'WAB_lower'] = teamLow['WAB']
        matchups.at[index,'Turnover_diff_lower'] = teamLow['TO_DIFF']
    else:
        print(teamLow)

C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:9: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index, 'SEED_higher']= teamHigh['SEED']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:10: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'G_higher'] = teamHigh['G']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'W_higher'] = teamHigh['W']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'ADJOE_higher'] = teamHigh['ADJOE']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:13: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'ADJDE_higher'] = teamHigh['ADJDE']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:14: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'BARTHAG_higher'] = teamHigh['BARTHAG']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:15: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'EFG_O_higher'] = teamHigh['EFG_O']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:16: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'EFG_D_higher'] = teamHigh['EFG_D']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:17: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'TOR_higher'] = teamHigh['TOR']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:18: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'TORD_higher'] = teamHigh['TORD']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'ORB_higher'] = teamHigh['ORB']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:20: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'DRB_higher'] = teamHigh['DRB']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:21: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'FTR_higher'] = teamHigh['FTR']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:22: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'FTRD_higher'] = teamHigh['FTRD']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:23: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'2P_O_higher'] = teamHigh['2P_O']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:24: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'2P_D_higher'] = teamHigh['2P_D']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:25: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'3P_O_higher'] = teamHigh['3P_O']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:26: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'3P_D_higher'] = teamHigh['3P_D']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:27: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'ADJ_T_higher'] = teamHigh['ADJ_T']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:28: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'WAB_higher'] = teamHigh['WAB']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:29: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'Turnover_diff_higher'] = teamHigh['TO_DIFF']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:34: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index, 'SEED_lower']= teamLow['SEED']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:35: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'G_lower'] = teamLow['G']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:36: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'W_lower'] = teamLow['W']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:37: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'ADJOE_lower'] = teamLow['ADJOE']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:38: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'ADJDE_lower'] = teamLow['ADJDE']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:39: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'BARTHAG_lower'] = teamLow['BARTHAG']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:40: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'EFG_O_lower'] = teamLow['EFG_O']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:41: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'EFG_D_lower'] = teamLow['EFG_D']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:42: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'TOR_lower'] = teamLow['TOR']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:43: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'TORD_lower'] = teamLow['TORD']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:44: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'ORB_lower'] = teamLow['ORB']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:45: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'DRB_lower'] = teamLow['DRB']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:46: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'FTR_lower'] = teamLow['FTR']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:47: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'FTRD_lower'] = teamLow['FTRD']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:48: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'2P_O_lower'] = teamLow['2P_O']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:49: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'2P_D_lower'] = teamLow['2P_D']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:50: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'3P_O_lower'] = teamLow['3P_O']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:51: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'3P_D_lower'] = teamLow['3P_D']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:52: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'ADJ_T_lower'] = teamLow['ADJ_T']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:53: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'WAB_lower'] = teamLow['WAB']
C:\Users\prest\AppData\Local\Temp\ipykernel_11544\1406902892.py:54: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  matchups.at[index,'Turnover_diff_lower'] = teamLow['TO_DIFF']

In [ ]:
matchups.to_csv('matchups26.csv', index=False)